<div class="bg-white p-25">
  <nav class="nav-tabs">
    <a href="#" class="btn btn-lg btn-primary nav-tabs-item active mr-5">Naționale</a><a href="#" class="btn btn-lg btn-default nav-tabs-item">Internaționale</a>
  </nav>
  <div class="tabs-body">
    <div id="tabs1" class="tabs-content">
      <form>
        <div class="search-body border border-light brdr-1">
          <input type="text" class="form-control simple" placeholder="Сăutare după cuvinte cheie" />
          <button class="btn-icon-search"><img src="/dist/images/icons/search.svg" alt=""></button>
        </div>
        <ul class="docs-list">
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Legea 60 din 30.03.2012 privind incluziunea socială a persoanelor cu dizabilități</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Legea 105 din 14.06.2018 cu privire la promovarea ocupării forței de muncă și asigurarea de șomaj</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Legea nr.165 din 20.07.2017 pentru modificarea și completarea unor acte legislative (compartiment acte normative)</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Codul muncii al Republicii Moldova. Legea nr. 154-XV din 28.03.2003</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Lege pentru ratificarea Convenţiei europene cu privire la statutul juridical lucrătorilor migranţi nr. 20-XVI din 10.02.2006</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Lege pentru acceptarea Constituţei Organizaţiei Internaţionale pentru Migraţie nr. 215-XV din 29.05.2003</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Lege pentru ratificarea Convenţiei Organizaţiei Internaţionale a Muncii nr. 181 privind agenţiile private de ocupare a forţei de muncă Nr.482-XV din 28.09.2001</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Lege pentru ratificarea Convenţiei Organizaţiei Internaţionale a Muncii nr. 97 privind migraţia în scop de angajare, adoptată la Geneva la 1 iulie 1949 nr. 209-XVI din 29.07.2005</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Lege pentru ratificarea Convenţiei Organizaţiei Internaţionale a Muncii nr. 142 privind orientarea profesională şi pregătirea profesională în domeniul valorificării resurselor umane Nr.480-XV din 28.09.2001</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
          <li class="d-flex justify-between align-center align-start flex-sm-column">
            <h5 class="title m-0"><a class="text-dark" href="#">Hotărîre pentru aprobarea Strategiei naţionale privind politicile de ocupare a forţei de muncă pe anii 2007-2015 nr.605 din 31.05.2007</a></h5>
            <div class="actions d-flex justify-between align-center align-self-start ml-4">
              <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
              <span class="format-file text-upper border border-light brdr-1 px-4">.docx</span>
            </div>
          </li>
        </ul>
      </form>
    </div>
    <div id="tabs2" class="tabs-content"></div>
  </div>
</div>
