<h3 class="title-bd-b">
  <span class="d-block mb-25">Hotărări ale Consiliului tripartit</span>
  <sapn class="date d-block fz-1-4 text-blue">Anul 2019</sapn>
</h3>

<ul class="docs-list">
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotarire CT 1 din 21.03.19 Cu privire la numirea vicepreședintelui Consiliului tripartit</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotarire CT 2 din 21.03.19 Cu privire la numirea secretarului Consiliului tripartit</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotarire CT 3 din 21.03.19 Cu privire la realizarea Planului de acțiuni al ANOFM 2018 și obiectivele 2019</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
</ul>

<h3 class="title-bd-b">
  <sapn class="date d-block fz-1-4 text-blue">Anul 2018</sapn>
</h3>

<ul class="docs-list">
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotarire CT 1 din 21.03.19 Cu privire la numirea vicepreședintelui Consiliului tripartit</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.2 din 25.01.2018 Cu privire la aprobarea obiectivelor și indicatorilor ANOFM pentru 2018 înaintați de MSMPS</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.3 din 25.01.2018 Cu privire la aprobarea planului de acțiuni al ANOFM pentru 2018</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.4 din 25.01.2018 Cu privire la numirea secretarului Consiliului de Administrație</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
</ul>

<h3 class="title-bd-b">
  <sapn class="date d-block fz-1-4 text-blue">Anul 2017</sapn>
</h3>

<ul class="docs-list">
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.1 din 25.01.2017 Cu privire la aprobarea Planului de acțiuni al ANOFM pentru anul 2017</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.2 din 22.03.2017 cu priivire la aprobarea Raportului anual de activitate al ANOFM pentru anul 2016</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr. 3 din 22 martie 2017 Cu privire la Prognoza Pieții muncii pentru 2017 și Barometrul profesiilor pentru 2017</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
  <li class="d-flex justify-between align-center align-start flex-sm-column">
    <h5 class="title m-0">Hotărîrea CA nr.4 din 11.08.2017 Cu privire la Activitatea ANOFM și a structurilor teritoriale în I semestru 2017 inclusiv realizarea indicatorilor de produs/rezultat și sarcinile pentru semestrul II 2017</h5>
    <div class="actions d-flex justify-between align-center align-self-start ml-4">
      <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
      <span class="format-file text-upper border border-light brdr-1 px-4">.pdf</span>
    </div>
  </li>
</ul>