<ul class="breadcrumb">
  <li>
    <a href="#"><img src="/dist/images/home.svg" alt="Home"></a>
  </li>
  <li>
    <a href="#">Comunicare</a>
  </li>
  <li>
    <a href="#">Communicate de presă</a>
  </li>
</ul>
