<div class="content-wrapper filter d-flex justify-between align-center hidden-xs">
	<div class="icon mr-5"><img src="/dist/images/icons/filter.svg" alt="filteer-icons"></div>
	<form class="d-flex w-100 justify-between align-center">
		<div class="d-flex justify-between ml-5 w-60">
	  		<div class="filter-item mr-5">
	  			<label class="d-flex align-center mb-0"><span class="text-upper mr-2">Anul</span> <select class="form-control ml-2 py-4" name="" id=""><option value="0">2019</option><option value="1">2018</option><option value="2">2017</option></select></label>
	  		</div>
	  		<div class="filter-item mr-5">
	  			<label class="d-flex align-center mb-0"><span class="text-upper mr-2">Luna</span> <select class="form-control ml-2 py-4" name="" id=""><option value="0">Octombrie</option><option value="1">Septembrie</option><option value="2">August</option></select></label>
	  		</div>
	  		<div class="filter-item mr-5">
	  			<label class="d-flex align-center mb-0"><span class="text-upper mr-2">Ziua</span> <select class="form-control ml-2 py-4" name="" id=""><option value="0">Toate</option><option value="1">1</option><option value="2">2</option></select></label>
	  		</div>
	  	</div>
  		<div class="d-flex align-center">
	  		<button class="btn btn-primary text-upper font-bold rounded-fluid p-4 mr-5">Aplica</button>
	  		<a href="#" class="clear text-secondary"><span class="hidden-sm">Sterge</span> <img class="hidden-md" src="/dist/images/icons/delete.svg" alt=""></a>
  		</div>
    </form>
</div>
