<footer>
	<div class="container">
		<div id="menus">
			<div class="menu">
				<h6><a href="#">ANOFM</a></h6>
				<ul>
					<li><a href="#">Conducerea</a></li>
					<li><a href="#">Structura</a></li>
					<li><a href="#">Organigrama</a></li>
					<li><a href="#">Cooperare internațională</a></li>
					<li><a href="#">Posturi vacante</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Legislație</a></h6>
				<ul>
					<li><a href="#">Legi</a></li>
					<li><a href="#">Hotărîri</a></li>
					<li><a href="#">Regulamentul ANOFM</a></li>
					<li><a href="#">Acte normative</a></li>
					<li><a href="#">Proceduri standart</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Măsuri de ocupare</a></h6>
				<ul>
					<li><a href="#">Înregistrarea cu statut de șomer</a></li>
					<li><a href="#">Măsuri de promovare a ocupării forței de muncă</a></li>
					<li><a href="#">Programe de facilitare a ocupării forței de muncă</a></li>
					<li><a href="#">Migraţia forţei de muncă</a></li>
					<li><a href="#">Asigurarea de șomaj</a></li>
					<li><a href="#">Angajatorii pe piața muncii</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Transparență</a></h6>
				<ul>
					<li><a href="#">Rapoarte de activitate</a></li>
					<li><a href="#">Programe și proiecte</a></li>
					<li><a href="#">Documente strategice</a></li>
					<li><a href="#">Bugetul</a></li>
					<li><a href="#">Achiziții publice</a></li>
					<li><a href="#">Protecția datelor cu caracter personal</a></li>
					<li><a href="#">Anticorupția</a></li>
					<li><a href="#">Deplasări de serviciu în străinătate</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Comunicare</a></h6>
				<ul>
					<li><a href="#">Communicate de presă</a></li>
					<li><a href="#">Evenimente</a></li>
					<li><a href="#">Anunțuri</a></li>
					<li><a href="#">Interviuri</a></li>
					<li><a href="#">Galerie foto</a></li>
					<li><a href="#">Galerie video</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Bibliotecă</a></h6>
				<ul>
					<li><a href="#">Rapoarte de activitate</a></li>
					<li><a href="#">Documente strategice</a></li>
					<li><a href="#">Informație statistică</a></li>
				</ul>
			</div>
			<div class="menu">
				<h6><a href="#">Contacte</a></h6>
				<ul>
					<li><a href="#">Audiența cetățenilor</a></li>
					<li><a href="#">Petiții online</a></li>
					<li><a href="#">Centrul de apel al ANOFM</a></li>
				</ul>
			</div>
		</div>
		<div id="contacts">
			<hr>
			<div class="second-layer d-flex justify-between align-center">
				<div id="location">
					<img src="/dist/images/location.svg" alt="">
					<p id="address">
						MD-2009, Chisinau, Republica Moldova str. Vasile Alecsandri, 1
					</p>
				</div>
				<div id="anti-camera">
					<span>Anticamera</span>
					<a href="tel:022721003">022-72 10 03</a>
				</div>
				<div id="fax">
					<span>Fax</span>
					<a href="tel:022227761">022-22 77 61</a>
				</div>
				<div id="email">
					<span>E-mail</span>
					<a href="mailto:anofm@anofm.md">anofm@anofm.md</a>
				</div>
				<ul id="socials">
					<li><a href="#"><img src="/dist/images/facebook.svg" alt="Facebook"></a></li>
					<li><a href="#"><img src="/dist/images/youtube.svg" alt="YouTube"></a></li>
				</ul>
			</div>
			<hr>
			<div class="third-layer d-flex justify-between">
				<div id="copyright">
					<p>
						2007-2019 Agenția Națională pentru
						Ocuparea Forței de Muncă
						<span>
							Toate drepturile rezervate
						</span>
					</p>
				</div>
				<div id="hotline">
					<p>Linia Nationala Anticoruptie:&nbsp;</p>
					<span>0-800-55555</span>
				</div>
				<div id="visitors">
					<p>Total vizitatori:&nbsp;</p>
					<span>3404633</span>
				</div>
			</div>
		</div>
	</div>
</footer>
