<header>
  <!-- navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <!-- page navbar -->
    <div class="container">
      <div class="main-navbar row">
        <div class="navbar-header col-sm-12">
          <a class="navbar-brand" href="#"></a>
          <a class="navbar-brand navbar-home" href="#">
            Agenția Națională pentru <br>
            Ocuparea Forței de Muncă
          </a>
          <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown lang">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fa fa-globe" aria-hidden="true"></i>Ro
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="#">Ru</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Harta</a></li>
              <li>
                <a id="fontChange">A<sup>+</sup></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"><img src="/dist/images/search.svg" alt="Search"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <form>
                      <div class="form-group">
                        <label for=""><input type="text" class="form-control" placeholder="Search"></label>
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#main-menu" type="button"
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
    <hr style="margin: 0; border-color: #000; opacity: 0.1">
    <div class="container">
      <div class="menu-navbar">
        <ul>
          <li>
            <a href="#">ANOFM</a>
          </li>
          <li>
            <a href="#">LEGISLAȚIE</a>
          </li>
          <li>
            <a href="#">MĂSURI DE OCUPARE</a>
          </li>
          <li>
            <a href="#">TRANSPARENȚĂ</a>
          </li>
          <li class="active">
            <a href="#">COMUNICARE</a>
          </li>
          <li>
            <a href="#">BIBLIOTECĂ</a>
          </li>
          <li>
            <a href="#">CONTACTE</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.page navbar -->
  </nav>
  <!-- /.navigation -->
</header>
