<div class="pagination d-flex justify-between align-center">
  <a href="#" class="btn btn-default btn-lg previous text-upper font-bold py-5"><img src="/dist/images/icons/arrow-l.svg" alt=""><span class="hidden-xs">înapoi</span></a>
  <ul class="d-flex align-center font-bold mb-0">
    <li class="active">1</li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>...</li>
    <li><a href="#">18</a></li>
  </ul>
  <a href="#" class="btn btn-default btn-lg next text-upper font-bold py-5"><span class="hidden-xs">înainte</span><img src="/dist/images/icons/arrow-r.svg" alt=""></a>
</div>