<div class="aside-wrap aside-slider p-aside hidden-sm">
	<h3 class="mt-0">{{title}}</h3>
	<div id="a-slider" class="slider">
		<div class="slider-wrap">
			<time class="font-bold text-gray test-upper fz-1">9 SEP</time>
			<h4><a class="text-dark" href="#">Campania Națională „Săptămâna de luptă împotriva traficului de ființe umane”</a></h4>
			<div class="pic"><a href="#"><img src="/dist/images/archive/8pic.jpg" alt=""></a></div>
		</div>
		<div class="slider-wrap">
			<time class="font-bold text-gray test-upper fz-1">9 SEP</time>
			<h4><a class="text-dark" href="#">Campania Națională „Săptămâna de luptă împotriva traficului de ființe umane”</a></h4>
			<div class="pic"><a href="#"><img src="/dist/images/archive/8pic.jpg" alt=""></a></div>
		</div>
		<div class="slider-wrap">
			<time class="font-bold text-gray test-upper fz-1">9 SEP</time>
			<h4><a class="text-dark" href="#">Campania Națională „Săptămâna de luptă împotriva traficului de ființe umane”</a></h4>
			<div class="pic"><a href="#"><img src="/dist/images/archive/8pic.jpg" alt=""></a></div>
		</div>
		<div class="slider-wrap">
			<time class="font-bold text-gray test-upper fz-1">9 SEP</time>
			<h4><a class="text-dark" href="#">Campania Națională „Săptămâna de luptă împotriva traficului de ființe umane”</a></h4>
			<div class="pic"><a href="#"><img src="/dist/images/archive/8pic.jpg" alt=""></a></div>
		</div>
	</div>
</div>