<div class="content fz-1-8">
	<p>
		Agenția Națională pentru Ocuparea Forței de Muncă este autoritatea administrativă subordonată Ministerului Sănătății, Muncii și Protecției Sociale, împuternicită să asigure implementarea politicii în domeniul promovării ocupării forței de muncă, migrației forței de muncă și asigurării de șomaj.
	</p>
	<h4>Misiunea ANOFM</h4>
	<p>Misiunea ANOFM este de a spori posibilitățile de ocupare a persoanelor aflate în căutarea unui loc de muncă și susține angajatorii la identificarea forței de muncă calificate și crearea locurilor noi de muncă.</p>
	<h4>Atribuțiile</h4>
	<p>Agenția Națională își realizează atribuțiile în următoarele domenii:</p>
	<ol>
		<li>implementarea politicii de promovare a ocupării forței de muncă;</li>
		<li>migrația forței de muncă;</li>
		<li>asigurarea de șomaj.</li>
	</ol>
	<h4>Beneficiarii serviciilor ANOFM</h4>
	<ul>
		<li>agenţii economici aflaţi în căutare de angajaţi;</li>
		<li>persoanele aflate în căutarea unui loc de muncă;</li>
		<li>cetăţenii Republicii Moldova care pleacă la muncă peste hotare;</li>
		<li>cetăţenii străini angajaţi la muncă în Republica Moldova.</li>
	</ul>
	<p>Toate serviciile sunt oferite gratuit.</p>
	<h4>Subdiviziuni teritoriale</h4>
	<p>ANOFM este prezentă pe întreg teritoriul ţării prin 35 de subdiviziuni teritoriale pentru ocuparea forţei de muncă. <a href="#"><strong>Harta subdiviziunilor teritoriale</strong></a></p>
</div>