<div class="bg-white p-25">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default mb-5">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a class="d-block fz-1-8" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Direcţia implementarea politicii de ocupare
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        <div class="content tabular fz-1-6">
	        	<p>Componenţa nominală a Direcţiei planificare bugetară, evidenţă contabilă și plăți</p>
	        	<div class="table-wrap">
		        	<table>
		        		<thead>
		        			<tr>
		        				<th class="text-upper text-blue">Numele, prenumele</th>
		        				<th class="text-upper text-blue">Funcţia</th>
		        				<th class="text-upper text-blue">Telefon/fax</th>
		        				<th class="text-upper text-blue">Adresa electronică</th>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		        				<td>Gamangii Valentina</td>
		        				<td>Şef Direcţie</td>
		        				<td>022-22-77-64</td>
		        				<td><a href="">valentina.gamangii@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cheruneţ Natalia</td>
		        				<td>Şef-Adjunct Direcţie</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">natalia.cherunet@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Volcova Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">irina.volcova@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Hristea Elena</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">elena.hristea@anofm.md </a></td>
		        			</tr>
		        			<tr>
		        				<td>Șalari Ira</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ira.salari@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Nagară Ana</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ana.nagara@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cojocaru Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">irina.cojocaru@anofm.md</a></td>
		        			</tr>
		        		</tbody>
		        	</table>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default mb-5">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed d-block fz-1-8" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Observatorul pieței muncii
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <div class="content tabular fz-1-6">
	        	<p>Componenţa nominală a Direcţiei planificare bugetară, evidenţă contabilă și plăți</p>
	        	<div class="table-wrap">
		        	<table>
		        		<thead>
		        			<tr>
		        				<th class="text-upper text-blue">Numele, prenumele</th>
		        				<th class="text-upper text-blue">Funcţia</th>
		        				<th class="text-upper text-blue">Telefon/fax</th>
		        				<th class="text-upper text-blue">Adresa electronică</th>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		        				<td>Gamangii Valentina</td>
		        				<td>Şef Direcţie</td>
		        				<td>022-22-77-64</td>
		        				<td><a href="">valentina.gamangii@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cheruneţ Natalia</td>
		        				<td>Şef-Adjunct Direcţie</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">natalia.cherunet@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Volcova Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">irina.volcova@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Hristea Elena</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">elena.hristea@anofm.md </a></td>
		        			</tr>
		        			<tr>
		        				<td>Șalari Ira</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ira.salari@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Nagară Ana</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ana.nagara@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cojocaru Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">irina.cojocaru@anofm.md</a></td>
		        			</tr>
		        		</tbody>
		        	</table>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default mb-5">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed d-block fz-1-8" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Direcţia tehnologii informaţionale
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        <div class="content tabular fz-1-6">
	        	<p>Componenţa nominală a Direcţiei planificare bugetară, evidenţă contabilă și plăți</p>
	        	<div class="table-wrap">
		        	<table>
		        		<thead>
		        			<tr>
		        				<th class="text-upper text-blue">Numele, prenumele</th>
		        				<th class="text-upper text-blue">Funcţia</th>
		        				<th class="text-upper text-blue">Telefon/fax</th>
		        				<th class="text-upper text-blue">Adresa electronică</th>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		        				<td>Gamangii Valentina</td>
		        				<td>Şef Direcţie</td>
		        				<td>022-22-77-64</td>
		        				<td><a href="">valentina.gamangii@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cheruneţ Natalia</td>
		        				<td>Şef-Adjunct Direcţie</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">natalia.cherunet@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Volcova Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">irina.volcova@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Hristea Elena</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">elena.hristea@anofm.md </a></td>
		        			</tr>
		        			<tr>
		        				<td>Șalari Ira</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ira.salari@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Nagară Ana</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-78-09</td>
		        				<td><a href="">ana.nagara@anofm.md</a></td>
		        			</tr>
		        			<tr>
		        				<td>Cojocaru Irina</td>
		        				<td>Specialist Principal</td>
		        				<td>022-22-77-69</td>
		        				<td><a href="">irina.cojocaru@anofm.md</a></td>
		        			</tr>
		        		</tbody>
		        	</table>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>