<div class="bg-white p-25 mb-40">
	<div class="row">
		<div class="col-md-3 text-sm-center"><img src="/dist/images/members/raisa-dogaru.jpg" class="img-responsive mb-5" alt=""></div>
		<div class="col-md-9">
			<div class="heading-contact fz-1-8 text-sm-center">
				<div class="row">
					<div class="col-md-7">
						<h3 class="fz-2-2 mt-0 mb-3">Raisa Dogaru</h3>
						<p>Director</p>
					</div>
					<div class="col-md-5">
						<div class="phone text-right text-sm-center text-dark"><a class="text-dark no-decor" href="tel:"><img src="/dist/images/icons/phone-sm.svg" alt=""> (+373 22) 72 10 03</a></div>
					</div>
				</div>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="content fz-1-8">
				<p>Născută pe 16 martie 1964, s. Şamalia, raionul Cantemir.</p>
				<p><strong>Studii</strong></p>
				<p><span class="text-gray">1996 – 1999</span> Academia de Administrare Publică, specialitatea - relaţii internaţionale, calificarea referent în relaţii internaţionale.</p>
				<p><span class="text-gray">1982 – 1987</span> Universitatea de Stat din or. Chişinău, specialitatea - economia muncii, calificarea – economist.</p>
				<p><strong>Activitate profesională</strong></p>
				<p><span class="text-gray">2016 - prezent</span>  Director  Agenţia Naţională pentru Ocuparea Forţei de Muncă;</p>
				<p><span class="text-gray">2010 – 2016</span> Director-adjunct  Agenţia Naţională pentru Ocuparea Forţei de Muncă;</p>
				<p><span class="text-gray">2008 – 2010</span> Şef direcţie implementarea politicilor de ocupare a Agenţiei Naţionale pentru Ocuparea Forţei de Muncă;</p>
				<p><span class="text-gray">2003 – 2008</span> Şef direcţie politici de ocupare a forţei de muncă a Agenţiei Naţionale pentru Ocuparea Forţei de Muncă;</p>
				<p><span class="text-gray">2002 – 2003</span> Şef-adjunct direcţie politica de ocupare a forţei de muncă, şef secţie ocuparea forţei de muncă  a Departamentului pentru Utilizarea Forţei de Muncă;</p>
				<p><span class="text-gray">1998 – 2002</span> Şef secţie ocuparea forţei de muncă a Departamentului pentru Utilizarea Forţei de Muncă;</p>
				<p><span class="text-gray">1993 – 1998</span> Şef secţie ajutorului de şomaj, social şi finanţare a Departamentului pentru Utilizarea Forţei de Muncă;</p>
				<p><span class="text-gray">1991 – 1993</span> Economist/economist superior, secţia de coordonare a activităţii centrelor a Departamentului pentru Utilizarea Forţei de Muncă;</p>
				<p><span class="text-gray">1987 – 1991</span> Inspector/economist  Birolul de plasare în câmpul muncii or. Chişinău.</p>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="row d-flex align-center flex-sm-column fz-1-8">
				<div class="col-md-10 mb-sm-5">
					<p class="m-0">E-mail: <a class="font-bold" href="mailto:raisa.dogaru@anofm.md">raisa.dogaru@anofm.md</a></p>
				</div>
				<div class="col-md-2">
					<a href="#" class="btn btn-default fz-1-5 text-upper text-dark"><img src="/dist/images/icons/download.svg" class="mr-4" alt="">cv</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-white p-25 mb-40">
	<div class="row">
		<div class="col-md-3 text-sm-center"><img src="/dist/images/members/stefan-calancea.jpg" class="img-responsive mb-5" alt=""></div>
		<div class="col-md-9">
			<div class="heading-contact fz-1-8 text-sm-center">
				<div class="row">
					<div class="col-md-7">
						<h3 class="fz-2-2 mt-0 mb-3">Ştefan Calancea</h3>
						<p>Director-adjunct</p>
					</div>
					<div class="col-md-5">
						<div class="phone text-right text-sm-center text-dark"><a class="text-dark no-decor" href="tel:"><img src="/dist/images/icons/phone-sm.svg" alt=""> (+373 22) 72 16 37</a></div>
					</div>
				</div>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="content fz-1-8">
				<p>Născut pe 11 noiembrie 1957 , în s. Pituşca, raionul Călăraşi</p>
				<p><strong>Studii</strong></p>
				<p><span class="text-gray">1974 – 1978</span> Universitatea de Stat, Chişinău, specialitatea economia muncii, calificarea economist.</p>
				<p><strong>Activitate profesională</strong></p>
				<p><span class="text-gray">2009 – prezent Director-adjunct ANOFM
				<p><span class="text-gray">2008 – 2009</span> Staţiunea tehnologică experimentală "Vieru", director;</p>
				<p><span class="text-gray">2007 – 2008</span> Institutul Naţional pentru Viticultură şi Vinificaţie, director general adjunct;</p>
				<p><span class="text-gray">2006 – 2007</span> Viceministru al agricultirii şi industriei alimentare;</p>
				<p><span class="text-gray">2002 – 2006</span> Agenţia Agroindustrială "Moldova-Vin", şef de direcţie;</p>
				<p><span class="text-gray">1998 – 2001</span> Ministerul Agriculturii şi Industriei Alimentare, şef direcţie;</p>
				<p><span class="text-gray">1994 – 1998</span> Preşedintele raionului Călăraşi;</p>
				<p><span class="text-gray">1991 – 1994</span> Filiala Călăraşi a Băncii“ Moldovaagroindbanc” SA, director;</p>
				<p><span class="text-gray">1984 – 1991</span> Asociaţia "Mestprombît" Călăraşi, şef de direcţie, director, director general;</p>
				<p><span class="text-gray">1978 – 1984</span> Inginer economist, activităţi în organele consomoliste şi a controlului popular.</p>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="row d-flex align-center flex-sm-column fz-1-8">
				<div class="col-md-10 mb-sm-5">
					<p class="m-0">E-mail: <a class="font-bold" href="mailto:raisa.dogaru@anofm.md">stefan.calancea@anofm.md</a></p>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-white p-25 mb-40">
	<div class="row">
		<div class="col-md-3 text-sm-center"><img src="/dist/images/members/valentina-lungu.jpg" class="img-responsive mb-5" alt=""></div>
		<div class="col-md-9">
			<div class="heading-contact fz-1-8 text-sm-center">
				<div class="row">
					<div class="col-md-7">
						<h3 class="fz-2-2 mt-0 mb-3">Valentina Lungu</h3>
						<p>Director-adjunct</p>
					</div>
					<div class="col-md-5">
						<div class="phone text-right text-sm-center text-dark"><a class="text-dark no-decor" href="tel:"><img src="/dist/images/icons/phone-sm.svg" alt=""> (+373 22) 22 77 96</a></div>
					</div>
				</div>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="content fz-1-8">
				<p>Născută pe 16 august 1961, s.Zubreşti, r. Străşeni, Republica Moldova</p>
				<p><strong>Studii</strong></p>
				<p><span class="text-gray">2002-2004</span>  Academia de Administraţie Publică pe lângă Preşedintele Republicii Moldova, Facultatea Economie şi management public, calificarea Master în management;</p>
				<p><span class="text-gray">1987-1993</span>  Academia de Studii Economice din Republica Moldova, Facultatea  "Finanţe, credit şi monedă", specialitatea Inginer economist;</p>
				<p><strong>Activitate profesională</strong></p>
				<p><span class="text-gray">01.04.2016</span> – prezent  Director adjunct  Agenţia Naţională pentru Ocuparea Forţei de Muncă;</p>
				<p><span class="text-gray">2013 – 2016</span> Agenţia Naţională pentru Ocuparea Forţei de Munca, Şef direcţia implementarea politicilor de ocupare;</p>
				<p><span class="text-gray">2008-2013</span>  Agenţia Naţională pentru Ocuparea Forţei de Munca, Şef adjunct direcţia implementarea politicilor de ocupare;</p>
				<p><span class="text-gray">2003-2008</span> Agenţia Naţională pentru Ocuparea Forţei de Munca, Direcţia politici de ocupare a forţei de muncă, Consultant;</p>
				<p><span class="text-gray">1999-2003</span>  Departamentul pentru Utilizarea Forţei de muncă, Secţia Ocuparea Forţei de Muncă, Specialist principal;</p>
				<p><span class="text-gray">1998-1999</span>  Departamentul pentru Utilizarea Forţei de muncă, Secţia Analiza și Prognoza Pieții Muncii, Economist coordonator;</p>
				<p><span class="text-gray">1993-1998</span>  Centrul  Internaţional de Cercetări a Reformelor Economice, Economist;</p>
				<p><span class="text-gray">1980-1993</span>  Întreprinderea „Mezon” Departamentul Sisteme Automatizate de Management, Controlor;</p>
			</div>
			<div class="hr mt-5 mb-25"></div>
			<div class="row d-flex align-center flex-sm-column fz-1-8">
				<div class="col-md-10 mb-sm-5">
					<p class="m-0">E-mail: <a class="font-bold" href="mailto:raisa.dogaru@anofm.md">stefan.calancea@anofm.md</a></p>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
		</div>
	</div>
</div>