<div class="content fz-1-8">
	<p>
		Consiliul tripartit asigură conducerea Agenţiei Naţionale pentru Ocuparea Forţei de Muncă, format pe baza principiului parităţii, cu rol consultativ, din reprezentanţi ai guvernului, sindicatelor şi patronatului. Consiliul tripartit asigură realizarea dialogului social în procesul de elaborare şi implementare a politicii de ocupare a forţei de muncă şi asigurării de şomaj la nivel naţional.
	</p>
	<p>Consiliul de tripartit este constituit în temeiul art. 12 din Legea nr. 105/2018 cu privire la promovarea ocupării forţei de muncă şi asigurarea de şomaj (Monitorul Oficial al Republicii Moldova, 2018, nr. 295-308, art. 448), a Regulamentului cu privire la organizarea şi funcţionarea Ministerului Sănătăţii, Muncii şi Protecţiei Sociale, aprobat prin Hotărîrea Guvernului nr. 694/2017 (Monitorul Oficial al Republicii Moldova, 2017, nr. 322-328, art.796 și Ordinul Ministerului Sănătăţii, Muncii şi Protecţiei Sociale nr.3 din  9 ianuarie 2019  cu privire la aprobarea Regulamentului Consiliului tripartit pe lingă Agenţia Naţională pentru Ocuparea Forţei de Muncă</p>
	<h4>Membrii Consiliului tripartit</h4>
	<p><strong>Nelea Rusu</strong></p>
	<p>Secretar de stat în domeniul muncii și demografiei muncii, Ministerul Sănătăţii, Muncii şi  Protecţiei Sociale,  Președintele Consiliului tripartit al ANOFM</p>
	<p><strong>Sergiu Sainciuc</strong></p>
	<p>Vicepreşedinte al Confederaţiei  Naţionale a Sindicatelor  din Moldova</p>
	<p><strong>Ion Pîrgaru</strong></p>
	<p>Președinte al Federației Sindicatelor din Comunicații din Republica Moldova</p>
	<p><strong>Sergiu Iurcu</strong></p>
	<p>Șef al Departamentului protecție social-economică al Confederației Naționale a Sindicatelor din Moldova</p>
	<p><strong>Vladislav Caminschi</strong></p>
	<p>Director executiv al Confederaţiei Naţionale a Patronatului din Republica Moldova</p>
	<p><strong>Lidia Barburoș</strong></p>
	<p>Director executiv al Federației Patronatului din Construcții și Producerea Materialelor de Construcții</p>
	<p><strong>Iurie Malanciuc</strong></p>
	<p>Vicepreședinte al Federației Naționale a Patronatului din Agricultură și Industria Alimentară</p>
	<p><strong>Ion Răuleț</strong></p>
	<p>Consultant principal, Direcția politici economice și mediul de afaceri, Ministerul Economiei și Infrastructurii</p>
	<p><strong>Natalia Pantilii</strong></p>
	<p>Consultant principal, Secția finanțe în sănătate și protecției socială din cadrul Direcției politici bugetare, Ministerul Finanțelor</p>
</div>