<div class="aside-wrap mt-md--115 hidden-xs">
  <div class="d-flex justify-between title-aside">
    <h3 class="m-0">{{title}}</h3>
    <img src="/dist/images/icons/folder.svg" alt="">
  </div>
  <nav class="aside-nav">
    <ul>
      <li><a href="#">Despre ANOFM</a></li>
      <li><a href="#">Conducerea</a></li>
      <li class="active"><a href="#">Structura</a>
        <ul>
          <li><a href="#">Consiliul tripartit al ANOFM</a></li>
          <li><a href="#">Conducerea ANOFM</a></li>
          <li class="active"><a href="#">Direcţiile ANOFM</a></li>
          <li><a href="#">Subdiviziunile aparatului central ANOFM</a></li>
        </ul>
      </li>
      <li><a href="#">Cooperare internațională</a></li>
    </ul>
  </nav>
</div>