<div class="row list-archive">
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">14 oct</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">ANOFM mai aproape de tineri – întâlnire cu reprezentanții Clubului Studenților din Moldova</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/1pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">9 oct</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Ziua Internaționala a Tineretului – rezultatele campaniei</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/2pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">7 oct</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Piața muncii: Locuri vacante la 07.10.2019</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/3pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">28 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">ANOFM a semnat acordul de colaborare cu Asociația Obștească „YOU ARE NOT ALONE”</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/4pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">22 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">ANOFM discută Conceptul sistemului de Vouchere în formarea profesională a şomerilor, în cadrul unui atelier de lucru</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/5pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">19 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Funcționarii subdiviziunilor teritoriale pentru ocuparea forței de muncă își consolidează cunoştinţele privind chestionarea angajatorilor, în cadrul unui atelier de instruire</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/6pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">14 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Angajații ANOFM participă la instruirea privind comunicarea cu clienții dificili</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/7pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">9 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Campania Națională „Săptămâna de luptă împotriva traficului de ființe umane”</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/8pic.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="content-wrapper">
      <div class="meta">
        <time class="py-0 text-upper">3 sep</time>
        <a class="read-more" href="#"><img src="/dist/images/icons/arrow-red.svg" alt=""></a>
      </div>
      <div class="list-title mb-5">
        <h2 class="m-0"><a href="#">Agenția Națională pentru Ocuparea Forței de Muncă anunță concurs pentru suplinirea funcțiilor publice vacante!</a></h2>
      </div>
      <div class="pic"><a href="#"><img src="/dist/images/archive/9pic.jpg" alt=""></a></div>
    </div>
  </div>
</div>