<div class="content-wrapper">
  <img src="/dist/images/new/new_main.png" alt="Main" class="main-image">
  <div class="content">
    <time>
      9 oct 2019
    </time>
    <p>
      <b>
        „Tinerii au prioritate!”. Sub egida acestui slogan, Agenția Națională pentru Ocuparea Forței de Muncă în comun
        cu
        subdiviziunilesale teritoriale a organizat, în perioada 12-17 august 2019, Campania de informare consacrată
        Zilei
        Internaționale a Tineretului.
      </b>
    </p>
    <p>
      Campania a dat startul la data de 12 august 2019, cu participarea reprezentatului ANOFM la Forumul Național de
      Tineret, care a întrunit peste 90 tineri din 35 de organizații de tineret, 6 centre de tineret, instituții publice
      și tineri ne-asociați. Forumul a avut loc în incinta Casei Guvernului și a avut ca scop dezvoltarea unei agende
      naționale de recomandări adresate Guvernului, așa cum politicile publice ce privește viața tinerilor trebuie să
      fie
      elaborate cu participarea tinerilor.
    </p>
    <blockquote>
      Astfel, în cele 6 zile de desfășurare a Campaniei, majoritatea STOFM au organizat seminare informativedespre
      măsurile de ocupare a forței de muncă implementate, cu participarea a351persoane aflate în căutarea unui loc de
      muncă cu vârsta 16-35 ani (dintre care 56% femei).
    </blockquote>
    <p>
      Totodată,au fost organizate mese rotunde șiateliere de lucrucu tinerii aflați în căutarea unui loc de muncă de
      către
      STOFM din
    </p>
    <img src="/dist/images/new/new_image.png" alt="Image" style="float: right">
    <ul>
      <li>Anenii Noi</li>
      <li>Briceni</li>
      <li>Cantemir</li>
      <li>Edineț</li>
      <li>Ialoveni</li>
      <li>Leova</li>
      <li>Nisporeni</li>
      <li>și Sîngerei</li>
    </ul>
    <br>
    <p>
      unde au fost discutate problemele și posibilitățile ce țin de angajarea în câmpul muncii. La mese rotunde și
      ateliere au participat 106 persoane (70% femei).
    </p>
    <p>
      Totalizând toate evenimentele organizate în perioada desfășurării Campaniei, 1060 persoanetinerecu vârsta 16-35
      ani(57% femei) au beneficiat de serviciile ANOFM.
    </p>
  </div>
  <div class="content-footer">
    <div class="link back">
      <a href="#">
        înapoi la arhiva
      </a>
    </div>
    <div class="social">
      <span>Share in retele de socializare:</span>
      <ul>
        <li>
          <a href="#"><img src="/dist/images/facebook_blue.svg" alt="Facebook"></a>
        </li>
        <li>
          <a href="#"><img src="/dist/images/youtube_blue.svg" alt="Youtube"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
