<div class="row d-flex flex-wrap align-center flex-sm-column">
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic1.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Forumul Profesiilor „O carieră de succes acasă”
        <time class="text-upper date fz-1">6 NOI 2019</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic2.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Forumul Profesiilor „O carieră de succes acasă”
        <time class="text-upper date fz-1">8 IUL 2019</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic3.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Târgul locurilor de muncă pentru Tineret 2019. Începe cariera ta aici!
        <time class="text-upper date fz-1">30 mai 2019</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic4.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Conferința Internațională „Parteneriate pentru o lume a muncii în schimbare”
        <time class="text-upper date fz-1">16 mai 2019</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic5.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Ziua ușilor deschise la Agenția Națională pentru Ocuparea Forței de Muncă
        <time class="text-upper date fz-1">18 feb 2019</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic6.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Semnarea protocolul de cooperare și schimb de informații cu Serviciului Public de Ocupare din Lituania
        <time class="text-upper date fz-1">8 noi 2018</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic7.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        Forumul profesiilor „O carieră de succes acasă” și Târgul locurilor de muncă pentru Tineret
        <time class="text-upper date fz-1">23 mai 2018</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap pos-relative box-shadow">
      <a class="pic gradient-blue-before" href="#"><img src="/dist/images/gallery/pic8.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold text-white fz-1-8">
        „Ziua Ușilor Deschise” la ANOFM
        <time class="text-upper date fz-1">19 feb 2018</time>
      </a>
    </div>
  </div>
</div>