<div class="content-wrapper bg-white p-25">
  <div class="gallery-inner">
    <time class="date text-gray fz-1 text-upper font-bold d-block mb-5">9 oct 2019</time>
    <div class="content fz-1-8 py-5">
      <p>La 30 mai 2019,  s-a desfășurat a IX-a ediție a <strong>Târgului locurilor de muncă pentru Tineret.</strong> Eveniment organizat la inițiativa Agenţiei Naţionale pentru Ocuparea Forţei de Muncă sub egida Ministerului Sănătății, Muncii și Protecției Sociale și a Ministerului Educației, Culturii și Cercetării.</p>
    </div>
  </div>
  <div class="gallery-list">
    
    <div class="my-gallery row d-flex flex-wrap align-center flex-sm-column" itemscope itemtype="http://schema.org/ImageGallery">
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g1.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g1.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>      
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g2.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g2.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g3.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g3.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>      
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g4.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g4.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g5.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g5.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g6.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g6.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g7.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g7.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g8.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g8.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g9.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g9.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g10.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g10.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g11.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g11.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g12.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g12.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g13.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g13.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
      <figure class="col-md-6 col-lg-3 mb-30 gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/dist/images/gallery/g14.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/dist/images/gallery/g14.jpg" class="img-responsive" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description" class="hidden">Image caption</figcaption>
      </figure>
    </div>
  </div>

  <div class="content-footer">
    <div class="link back">
      <a href="#">
        înapoi la arhiva
      </a>
    </div>
    <div class="social">
      <span>Share in retele de socializare:</span>
      <ul>
        <li>
          <a href="#"><img src="/dist/images/facebook_blue.svg" alt="Facebook"></a>
        </li>
        <li>
          <a href="#"><img src="/dist/images/youtube_blue.svg" alt="Youtube"></a>
        </li>
      </ul>
    </div>
  </div>

</div>