<div class="row d-flex flex-wrap align-center flex-sm-column">
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap videos-list pos-relative">
      <a class="pic gradient-blue-before d-block box-shadow" href="#"><img src="/dist/images/gallery/video.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold fz-1-8">
        Forul meseriilor/profesiilor și Târgul locurilor de muncă pentru Tinere, 24 mai 2017
        <time class="text-upper date fz-1">18 mai 2016</time>
      </a>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="gallery-wrap videos-list pos-relative">
      <a class="pic gradient-blue-before d-block box-shadow" href="#"><img src="/dist/images/gallery/video.jpg" class="img-responsive" alt=""></a>
      <a href="#" class="description font-bold fz-1-8">
        Forul meseriilor/profesiilor și Târgul locurilor de muncă pentru Tinere, 24 mai 2017
        <time class="text-upper date fz-1">18 mai 2016</time>
      </a>
    </div>
  </div>
</div>