<div class="content-wrapper bg-white p-25">
  <div class="gallery-inner">
    <time class="date text-gray fz-1 text-upper font-bold d-block mb-5">18 mai 2016</time>
    <div class="content fz-1-8 py-5">
      <p>Forul meseriilor/profesiilor și Târgul locurilor de muncă pentru Tineret este destinat absolvenților liceelor și gimnaziilor, tinerilor care își caută primul job, șomerilor, precum și persoanelor angajate care doresc să-și schimbe locul de muncă.</p>
 
      <p>Evenimentul va oferi tinerilor posibilitatea de a se familiariza cu instituțiile de învățământ, cu posibilitățile de însușire a unei profesii, meserii, specialități, de a cunoaşte angajatori din diferite domenii de activitate, de a negocia jobul potrivit, precum și de a se informa despre situația actuală a pieţei muncii.</p>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="1135" height="851" src="https://www.youtube.com/embed/oxPWVX-qSrQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="content-footer">
    <div class="link back">
      <a href="#">
        înapoi la arhiva
      </a>
    </div>
    <div class="social">
      <span>Share in retele de socializare:</span>
      <ul>
        <li>
          <a href="#"><img src="/dist/images/facebook_blue.svg" alt="Facebook"></a>
        </li>
        <li>
          <a href="#"><img src="/dist/images/youtube_blue.svg" alt="Youtube"></a>
        </li>
      </ul>
    </div>
  </div>

</div>