<div class="slide">
  <a class="item" href="#">
    <div class="image">
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    </div>
    <div class="title">
      <p>{{ title }}</p>
    </div>
  </a>
</div>