<div class="col-xs-4">
  <div class="document">
    <div class="document__type">
      <a class="text-dark" href="#"><img src="/dist/images/icons/download.svg" alt=""></a><span class="bordered">.{{ type }}</span>
    </div>
    <div class="document__title">
      <h5><a class="fz-1-5 text-dark" href="#">{{ title }}</a></h5>
    </div>
    <div class="document__date">
      <time>{{ date|date("d M") }}</time>
    </div>
  </div>
</div>