<section id="gallery">
  <div class="title">
    <h2>
      Galerie foto
    </h2>
    <a href="#">MAI MULT</a>
  </div>
  <div id="gallery-slider">
    <div class="slide">
      <div class="image-container">
        <img src="/dist/images/gallery/gallery1.png" alt="Image1">
      </div>
      <div class="overlay"></div>
    </div>
    <div class="slide">
      <img src="/dist/images/gallery/gallery1.png" alt="Image1">
    </div>
    <div class="slide">
      <img src="/dist/images/gallery/gallery1.png" alt="Image1">
    </div>
  </div>
</section>