<section id="gallery">
  <div class="title">
    <h2>
      Galerie foto
    </h2>
    <a href="#">MAI MULT</a>
  </div>
  <div id="gallery-slider">
    <div class="slide gallery-wrap box-shadow">
      <div class="image-container">
        <img src="/dist/images/gallery/pic1.jpg" alt="Image1">
        <a href="#" class="pic gradient-blue-before gallery-description">
          <h4 class="title">Forumul Profesiilor „O carieră 
de succes acasă”</h4>
          <time class="update">6 NOI 2018</time>
        </a>
      </div>
    </div>
    <div class="slide gallery-wrap box-shadow">
      <div class="image-container">
        <img src="/dist/images/gallery/pic1.jpg" alt="Image1">
        <a href="#" class="pic gradient-blue-before gallery-description">
            <h4 class="title">1Forumul Profesiilor „O carieră 
  de succes acasă”</h4>
            <time class="update">16 NOI 2018</time>
        </a>
      </div>
    </div>
    <div class="slide gallery-wrap box-shadow">
        <div class="image-container">
          <img src="/dist/images/gallery/pic1.jpg" alt="Image1">
          <a href="#" class="pic gradient-blue-before gallery-description">
              <h4 class="title">Forumul Profesiilor „O carieră 
    de succes acasă”</h4>
              <time class="update">6 NOI 2018</time>
          </a>
      </div>
    </div>
  </div>
</section>