<div class="card">
  <div class="date">
    <time>{{ date|upper }}</time>
  </div>
  <div class="title">
    <h5>{{ title }}</h5>
  </div>
  <div class="image">
    <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>
</div>