.contact-map
	.icon-center
		height: 70px
		margin-bottom: 15px

.contact-form
	padding: 2.0rem 4.0rem 5.0rem

	.heading
		margin-bottom: 48px

	h3
		font-size: 3.2rem

	.btn
		font-size: 1.4rem
		padding-left: 25px
		padding-right: 25px
		margin-right: 35px
	
	.form-control
		margin-top: 7px

	input.form-control
		height: 43px

	@media (max-width: $layout-breakpoint-xsmall)

		.note
			margin-top: 15px
			text-align: center

		.btn
			margin-bottom: 15px
			margin-right: 0

.form-row
	font-size: 1.2rem
	margin-bottom: 20px

	.form-control
		font-weight: normal

	textarea
		height: 232px

	.sup
		font-weight: bold 