.filter
  padding: 22px 25px
  margin-bottom: 29px
  margin-top: 17px

.filter
	select.form-control
		background: url("/dist/images/icons/arrow-down-select.svg") no-repeat
		background-position: right 12px top 50%
		appearance: none
		border-color: $light-gray
		color: $gray
		font-weight: normal
		box-shadow: none
		padding: 13px 40px 11px 17px
		min-width: 90px
		width: auto
		display: block
		height: inherit

.filter
	.btn
		min-width: 102px

.filter
	.clear
		font-size: 1.5rem