<div class="bg-white contact-map">
  <div class="p-25">
    <div class="nav-map d-flex flex-wrap">
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Şoldăneşti</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Ştefan Vodă</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Taraclia</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Anenii Noi</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Teleneşti</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Basarabeasca</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Ungheni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">UTA Găgăuzia</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Briceni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Cahul</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5 active">Cantemir</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Călăraşi</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Căuşeni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Chişinău</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Cimişlia</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Criuleni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Donduşeni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Drochia</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Dubăsari</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Edineţ</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Făleşti</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Floreşti</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Glodeni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Hânceşti</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Ialoveni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Leova</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Nisporeni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Ocniţa</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Orhei</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Rezina</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Râşcani</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Sângerei</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Soroca</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Străşeni</a>
      <a href="#" class="btn btn-default font-bold text-blue mr-5 mb-5">Bălţi</a>
    </div>
  </div>
  <div id="map">
    
  </div>
  
</div>
