<div class="bg-white contact-map">
  <div class="row d-flex flex-sm-column flex-wrap p-25">
    <div class="col-sm-6 col-md-4 text-center mb-5">
      <div class="icon-center"><img src="/dist/images/icons/location.svg" alt=""></div>
      <h4 class="title-sm">Adresa ANOFM</h4>
      <p>MD-2009, Chisinau, Republica <br class="hidden-sm"> Moldova, str. Vasile Alecsandri, 1</p>
    </div>
    <div class="col-sm-6 col-md-3 text-center mb-5">
      <div class="icon-center"><img src="/dist/images/icons/phone.svg" alt=""></div>
      <h4 class="title-sm">Anticamera</h4>
      <p>022 72 10 03</p>
    </div>
    <div class="col-sm-6 col-md-2 text-center mb-5">
      <div class="icon-center"><img src="/dist/images/icons/fax.svg" alt=""></div>
      <h4 class="title-sm">Fax</h4>
      <p>022 22 77 61</p>
    </div>
    <div class="col-sm-6 col-md-3 text-center mb-5">
      <div class="icon-center"><img src="/dist/images/icons/email.svg" alt=""></div>
      <h4 class="title-sm">Email</h4>
      <p><a href="mailto:anofm@anofm.md">anofm@anofm.md</a></p>
    </div>
  </div>
  <div id="map">
    <img src="/dist/images/contact/map.jpg" class="img-responsive" alt="">
  </div>
  <div class="contact-form">
    <div class="heading d-flex flex-sm-column justify-between align-center">
      <h3 class="font-light m-0">Lăsa un mesaj</h3>
      <div class="note fz-1-5 text-gray">Poţi lăsa un mesaj folosind formularul de contact de mai jos</div>
      <div class="icon hidden-sm"><img src="/dist/images/icons/e-mail.svg" alt=""></div>
    </div>
    <form>
      <div class="row d-flex flex-sm-column">
        <div class="col-md-6">
          <div class="form-row">
            <label class="d-block">
              <span class="f-name text-upper">Numele dumneavoastră</span><span class="sup ml-2 text-alert">*</span>
              <input type="text" class="form-control" placeholder="Numele">
            </label>
          </div>
          <div class="form-row">
            <label class="d-block">
              <span class="f-name text-upper">Adresa dumneavoastră de e-mail</span><span class="sup ml-2 text-alert">*</span>
              <input type="email" class="form-control" placeholder="Email">
            </label>
          </div>
          <div class="form-row">
            <label class="d-block">
              <span class="f-name text-upper">Subiect</span><span class="sup ml-2 text-alert">*</span>
              <input type="text" class="form-control">
            </label>
          </div>
        </div>
        <div class="col-md-6 form-row">
          <div class="form-row">
            <label class="d-block">
              <span class="f-name text-upper">Mesaj</span><span class="sup ml-2 text-alert">*</span>
              <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </label>
          </div>
        </div>
      </div>
      <div class="form-bottom d-flex flex-sm-column align-center ">
        <button class="btn btn-lg rounded-fluid text-upper btn-primary font-bold">Trimite Mesajul</button> 
        <p class="fz-1-5 text-gray m-0">
          <span class="sup text-alert">*</span> – Toate câmpurile sunt obligatorii
        </p>
      </div>
    </form>
  </div>
</div>
{% block javascripts %}
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 47.007724, lng: 28.82637};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({
    position: uluru, map: map,
    icon: {
      url: 'https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png',
      labelOrigin: new google.maps.Point(100, 32)
    },
    label: {
      text: 'str. Vasile Alecsandri, 1',
      color: '#C70E20',
      fontSize: '14px',
      fontWeight: 'bold'
    }
  });
}
    </script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9CYp5__wLw5nQf3qTPLlMZBfXXybupYQ&callback=initMap">
    </script>
{% endblock %}