<div class="bg-white contact-map">
  <div class="p-25">
    <div class="nav-map d-flex flex-wrap">
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input value="soldanesti" onchange="filterMarkers(this.value);" type="radio" name="map-location" />Şoldăneşti</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input value="stefan-voda" onchange="filterMarkers(this.value);" type="radio" name="map-location" />Ştefan Vodă</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input value="taraclia" onchange="filterMarkers(this.value);" type="radio" name="map-location" />Taraclia</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Anenii Noi</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Teleneşti</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Basarabeasca</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Ungheni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />UTA Găgăuzia</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Briceni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Cahul</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Cantemir</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Călăraşi</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Căuşeni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Chişinău</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Cimişlia</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Criuleni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Donduşeni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Drochia</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Dubăsari</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Edineţ</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Făleşti</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Floreşti</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Glodeni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Hânceşti</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Ialoveni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Leova</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Nisporeni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Ocniţa</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Orhei</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Rezina</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Râşcani</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Sângerei</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Soroca</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Străşeni</label>
      <label class="nav-location btn btn-default font-bold text-blue mr-5 mb-5"><input type="radio" name="map-location" />Bălţi</label>
    </div>
  </div>
  <div id="map">
    
  </div>
  
</div>
