<div class="bg-white p-25">
  <div class="icon-center text-center"><img src="/dist/images/icons/customers.svg" alt=""></div>
  <div class="row mt-50">
    <div class="col-md-10 mx-auto fl-none">
      <div class="row d-flex flex-sm-column">
        <div class="col-md-6 bd-r no-bd-sm mb-50">
          <h3 class="mt-0 font-light mb-25">Aparatul central</h3>
          <div class="title-sm fz-1-8 mb-4 mt-5">Director</div>
          <p class="fz-1-5 mb-0">în <span class="text-green">prima şi a treia zi de luni</span> a lunii curente</p>
          <p class="note text-upper text-gray fz-1 mb-20">orele de primire: 09.00—12.00</p>
          <div class="title-sm fz-1-8 mb-4 mt-5">Directorii adjuncți</div>
          <p class="fz-1-5 mb-0">în <span class="text-green">prima şi a doua zi de luni</span> a lunii</p>
          <p class="note text-upper text-gray fz-1 mb-20">orele de primire: 13.00—17.00</p>
        </div>
        <div class="col-md-6 mb-50">
          <h3 class="mt-0 font-light mb-25">Subdiviziunile teritoriale</h3>
          <div class="title-sm fz-1-8 mb-4 mt-5">Șefii subdiviziunilor teritoriale</div>
          <p class="fz-1-5 mb-0">în <span class="text-green">fiecare zi de marti si de joi</span></p>
          <p class="note text-upper text-gray fz-1 mb-20">orele de primire: 09.00—12.00</p>
        </div>
      </div>
    </div>
  </div>
</div>