<div class="aside-wrap mt-md--115 hidden-xs">
  <div class="d-flex justify-between title-aside">
    <h3 class="m-0">{{title}}</h3>
    <img src="/dist/images/icons/folder.svg" alt="">
  </div>
  <nav class="aside-nav">
    <ul>
      <li class="active"><a href="#">Datele de contact</a></li>
      <li><a href="#">Audiența cetățenilor</a></li>
      <li><a href="#">Petiții online</a></li>
      <li><a href="#">Centrul de apel al ANOFM</a></li>
    </ul>
  </nav>
</div>