<div class="bg-white p-25">
  <ul class="docs-list mb-0">
    <li class="d-flex justify-between align-center align-start flex-sm-column">
      <h5 class="title m-0">Declarație pe proprie răspundere</h5>
      <div class="actions d-flex justify-between align-center align-self-start ml-4">
        <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
        <span class="format-file text-upper border border-light brdr-1 px-4">.doc</span>
      </div>
    </li>
    <li class="d-flex justify-between align-center align-start flex-sm-column">
      <h5 class="title m-0">Formular de participare la concursul pentru ocuparea funcţiei publice vacante</h5>
      <div class="actions d-flex justify-between align-center align-self-start ml-4">
        <a class="docs-link mr-2" href="#"><img src="/dist/images/icons/download.svg" alt=""></a>
        <span class="format-file text-upper border border-light brdr-1 px-4">.doc</span>
      </div>
    </li>
  </ul>
  <div class="hr"></div>
  <div class="content tabular tabular-va-head-bottom tabular-va-body-top tabular-head-fz-1-4 fz-1-6">
    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th>Funcţii vacante</th>
            <th>Data limită de depunere a documentelor</th>
            <th>Data probei scrise</th>
            <th>Data interviului</th>
            <th>Lista persoanelor care au promovat concursul</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5"><strong>Agenția Națională Pentru Ocuparea Forței De Muncă Anunță Concurs Pentru Suplinirea Funcției Publice Vacante:</strong></td>
          </tr>
          <tr>
            <th>STO Glodeni - Specialist Principal (Perioadă Determinată)</th>
            <td>08.03.2020</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>STO Florești- Specialist Principal (Perioadă Determinată)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>STO Nisporeni - Specialist Principal</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>STO Ocnița - Specialist Principal (Perioadă Determinată)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="5"><div class="hr"></div></td>
          </tr>
          <tr>
            <td colspan="5"><strong>Agenția Națională Pentru Ocuparea Forței De Muncă Anunță Concurs Pentru Suplinirea Funcției Publice Vacante:</strong></td>
          </tr>
          <tr>
            <td><em>Direcția Resurse Umane</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Specialist Principal</th>
            <td>09.02.2020</td>
            <th>Candidați admiși la proba scrisa14.02.2020</th>
            <th>Candidați admiși la interviu</th>
            <th>Candidați care au promovat concursul</th>
          </tr>
          <tr>
            <td colspan="5"><div class="hr"></div></td>
          </tr>
          <tr>
            <td colspan="5"><strong>Agenția Națională Pentru Ocuparea Forței De Muncă Anunță Concurs Pentru Suplinirea Funcțiilor Publice Vacante:</strong></td>
          </tr>
          <tr>
            <td><em>Direcția Resurse Umane</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>
              Specialist Principal
              <p class="text-gray">(Componenta Management Al Documentelor)</p>
            </th>
            <td>22.01.2020</td>
            <th>Lisa candidaților admiși la  proba scrisă 30.01.2020</th>
            <th>Candidați admiși la interviu</th>
            <th>Candidați care au promovat concursul</th>
          </tr>
          <tr>
            <td colspan="5"><div class="hr"></div></td>
          </tr>
          <tr>
            <td colspan="5"><strong>Agenția Națională Pentru Ocuparea Forței De Muncă Anunță Prelungirea Concursului Pentru Suplinirea Funcțiilor Publice Vacante:</strong></td>
          </tr>
          <tr>
            <td><em>Observatorul Pieței Muncii (Cu Statut De Direcție): </em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Specialist Principal</th>
            <td>22.01.2020</td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>Specialist Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td><em>Serviciul Monitorizare</em></td>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>Specialist Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td><em>Subdiviziuni Teritoriale</em></td>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>STO Anenii Noi -  Specialist Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td colspan="5"><div class="hr"></div></td>
          </tr>
          <tr>
            <td colspan="5"><strong>Agenția Națională Pentru Ocuparea Forței De Muncă Anunță Prelungirea Concursului Pentru Suplinirea Funcțiilor Publice Vacante:</strong></td>
          </tr>
          <tr>
            <td><em>Subdiviziuni Teritoriale:</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>STO Anenii Noi -  Specialist Principal
STO Basarabeasca -  Specialist Principal
STO Ștefan Vodă Specialist Principal</th>
            <td>31.01.2020</td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>STO Basarabeasca -  Specialist Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>STO Ștefan Vodă Specialist Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td><em>DGOFM Chișinău</em></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Specialiști Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>Specialiști Principal</th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
