{% extends "templates/page.twig" %}
{% block page %}
  <main class="entry">
    <div class="container">
      {% include "templates/common/breadcrumb.twig" %}
      {% include "templates/common/page_title.twig" with {
        title: "Despre ANOFM"
      } %}
      <div class="row">
        <article class="col-sm-8 col-md-9">
          <div class="bg-white p-25">
            {% include "templates/about/members-about.twig" %}
            {% include "templates/docs/docs-simple-date.twig" %}
          </div>
        </article>
        <aside class="col-sm-4 col-md-3">
          {% include "templates/about/nav-about.twig" with {
            title: "ANOFM"
          } %}
        </aside>
      </div>
    </div>
  </main>
{% endblock %}