{% extends "templates/page.twig" %}
{% block page %}
  <main class="entry">
    <div class="container">
      {% include "templates/common/breadcrumb.twig" %}
      {% include "templates/common/page_title.twig" with {
        title: "Communicate de presă"
      } %}
      <div class="row">
        <div class="col-sm-12 col-md-9">
          {% include "templates/common/filter.twig" %}
        </div>
      </div>
      <div class="row">
        <article class="col-sm-8 col-md-9">
          {% include "templates/archive/list-archive.twig" %}
          {% include "templates/common/pagination.twig" %}
        </article>
        <aside class="col-sm-4 col-md-3 archive-aside">
          {% include "templates/archive/nav-archive.twig" with {
            title: "Comunicare"
          } %}
        </aside>
      </div>
    </div>
  </main>
{% endblock %}
