{% extends "templates/page.twig" %}
{% block page %}
  <main class="entry">
    <div class="container">
      {% include "templates/common/breadcrumb.twig" %}
      {% include "templates/common/page_title.twig" with {
        title: "Datele de contact"
      } %}
      <div class="row">
        <article class="col-sm-8 col-md-9">
          {% include "templates/contact/contact-map.twig" %}
        </article>
        <aside class="col-sm-4 col-md-3">
          {% include "templates/contact/nav-contact.twig" with {
            title: "Legislație"
          } %}
        </aside>
      </div>
    </div>
  </main>
{% endblock %}
